<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/face_rec.css">
    <title>Face Matching</title>
</head>
<body>
    <!-- <div>
        <img src="" alt="">
    </div> -->
    <div style="display: flex;" class="box">
        <div class="box1">
            <img src="static/dbimages/{{ file }}" alt="">
            <h4>Name : <span>{{ details.Name }}</span></h4>
            <h4>DOB : <span>{{ details.DOB }}</span></h4>
            <h4>Gender : <span>{{ details.gender }}</span></h4>
        </div>
        <div class="box2">
            <h4>Description : </h4>
            <h5>{{ details.Description }}</h5>
        </div>
    </div>

</body>
</html>